<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDy3tNxP2XAdIk6BJiOtKA_PkagLGfqMg</string>
	<key>GCM_SENDER_ID</key>
	<string>746905011508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>academers.around.the.world</string>
	<key>PROJECT_ID</key>
	<string>academy-around-the-world</string>
	<key>STORAGE_BUCKET</key>
	<string>academy-around-the-world.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746905011508:ios:b6e5a375795f7da6eed161</string>
</dict>
</plist>
